:root {
    font-family: "Roboto", sans-serif;
}


.heading {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(255, 140, 0);
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px rgb(255, 140, 0);
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 1.5em;
}

span {
    color: rgb(255, 140, 0);
}

p {
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
}

form {
    width: 100%;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 140, 0);
    border-radius: 10px;
    max-width: 900px;
    transition: 0.5s ease-in-out;
    display: block;
    padding: 10px 0 10px 0;
    border: 1px solid rgb(255, 140, 0);
}

label {
    display: block;
    font-family: "Roboto", sans-serif;
}

input[type="submit"] {
    width: 100%;
    margin: 20px auto;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 500px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(255, 140, 0);
}

input[type="submit"]:hover {
    box-shadow: 5px 5px rgb(255, 140, 0);
}
